<!DOCTYPE html>
<html>
<head>
<title>Python Finance Information Homework</title>
</head>
  <body>
    <p>&nbsp;</p>
    <h1>CMPE 285 - Software Engineering Processes</h1>
    <h2>HW2 - Python Finance Information</h2>
    <h3>Name: Srikari Veerubhotla</h3>
    <h3>SID: 015957032</h3>
    <form action="/" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <!--<h2>Input: </h2><br>-->
              <p style="font-size:1.3em"><em>Input:</em></p>

              Please enter a symbol:&nbsp;<input name="tickerSymbol" type="text"/> <br><br>
              
              <input type="submit" value="Calculate" /> <input type="reset" />

              <!--<h2>Output: </h2><br>-->
              <p style="font-size:1.3em"><em>Output:</em></p>
            
              {{currentDay}}&nbsp;{{currentDate}}&nbsp;{{currentTime}}&nbsp;{{currentTimezone}}&nbsp;{{currentYear}}<br>
              <br>
              {{companyName}}&nbsp;{{bropen}}{{stockSymbol}}{{brclose}}<br>
              <br>
              {{stockPrice}}&nbsp;{{pm}}{{valueChange}}&nbsp;{{bropen}}{{pm}}{{percChange}}{{perc}}{{brclose}}<br>
              {{errorMessage}}
              
            </td>
          </tr>
        </tbody>
      </table>

    </form>

    <p>&nbsp;</p>
  </body>
</html>